<?php
/**
 *
 * @package Biz
 * @author Thiago Contardi
 * @copyright Copyright (c) 2020 Bizcommerce
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */

/**
 * @var \Koin\Payment\Block\Adminhtml\Order\View\Tab\Callback $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div id="order_koin_callback_block">
    <section  class="admin__page-section edit-order-koin-callback-grid">
        <table class="data-table admin__table-primary table-koin-callback">
            <thead>
                <tr>
                    <th><?= __('ID') ?></th>
                    <th><?= __('Status') ?></th>
                    <th><?= __('Payload') ?></th>
                    <th><?= __('Created At') ?></th>
                </tr>
            </thead>
            <tbody>
            <?php
            /** @var \Koin\Payment\Model\Callback $callback */
            foreach($block->getCallbackCollection() as $callback): ?>
                <tr>
                    <td><?= $callback->getId() ?></td>
                    <td><?= $callback->getStatus() ?></td>
                    <td><?= $callback->getPayload() ?></td>
                    <td><?= $block->formatDate($callback->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </section>
</div>
